// Blacks
$dark0: #202020ff;
$dark1: #282828ff;
$dark2: #32302fff;
$dark3: #3c3836ff;
$dark4: #504945ff;
$dark5: #665c54ff;
$dark6: #7c6f64ff;

// Grays
$gray: #928374ff;

// Whites
$light0: #f9f5d7ff;
$light1: #fbf1c7ff;
$light2: #f2e5bcff;
$light3: #ebdbb2ff;
$light4: #d5c4a1ff;
$light5: #bdae93ff;
$light6: #a89984ff;

// Light Colors
$light_red: #fb4934ff;
$light_orange: #fe8019ff;
$light_yellow: #fabd2fff;
$light_lime: #a7cb20ff;
$light_green: #3fc03fff;
$light_aqua: #7cc099ff;
$light_blue: #88a8bfff;
$light_purple: #ad7eceff;
$light_pink: #d3869bff;

// Neutral Colors
$neutral_red: #cc241dff;
$neutral_orange: #d65d0eff;
$neutral_yellow: #d79921ff;
$neutral_lime: #809c1cff;
$neutral_green: #29a329ff;
$neutral_aqua: #57a879ff;
$neutral_blue: #4d828fff;
$neutral_purple: #904acbff;
$neutral_pink: #b16286ff;

// Dark Colors
$dark_red: #9d0006ff;
$dark_orange: #af3a03ff;
$dark_yellow: #b57614ff;
$dark_lime: #708811ff;
$dark_green: #188718ff;
$dark_aqua: #33995eff;
$dark_blue: #076678ff;
$dark_purple: #752ab7ff;
$dark_pink: #8f3f71ff;

$foreground: $light0;
$background: $dark0;
$primary: $light_orange;
