main {
	width: 100%;
	height: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

#card {
	flex: 1 0 auto;
	background-color: #202020FF;
	border-radius: 8px;
	padding: 1rem;
	width: 100%;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

#card-inner {
	max-width: 64rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

#card-title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	font-weight: bolder;
	font-size: 1.125rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	white-space: pre-wrap;
}

#card-icon {
	width: 4rem;
	height: 4rem;
	margin: 0 1rem 0 0;
}

#guild-name {
	color: hsl(32, 83%, 57%);
}

form {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

fieldset {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 1rem 0;
	padding: 1rem;
	border: none;
}

legend {
	border-bottom: 1px solid hsl(32, 83%, 57%);
	padding-bottom: 1rem;
	width: 100%;
}

label {
	margin: 0.715rem 0;
}

select {
	padding: 0.5rem;
	background-color: transparent;
	color: white;
	border: 1px solid #AAAAAA;
}

input[type="number"] {
	padding: 0.5rem;
	background-color: transparent;
	color: white;
	border: 1px solid #AAAAAA;
}

input[type="submit"] {
	min-width: 9rem;
	padding: 0.75rem 1.5rem;
	font-weight: bolder;
	font-size: 1.125rem;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	line-height: 1rem;
	border-radius: 50px;
	outline: 0;
	margin: 1rem;
	margin-left: auto;
	transition: all 0.25s;
	flex: 0 1 auto;
	text-align: center;
	border: 0;
	background-color: hsl(32, 83%, 57%);
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: hsl(32, 83%, 67%);
}
